openapi: "3.0.0"
info:
    title: "JANI Payments"
    version: "1.0.0"
servers:
    - url: "https://p5kv4b3h7rzao6bxlzmisxykfe0dragb.lambda-url.us-east-1.on.aws"
paths:
    "/products/{product_id}":
        get:
            tags:
                - "products"
            operationId: "getProduct"
            parameters:
                - name: "product_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Returns a Product using its id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "id":
                                        type: "string"
                                    "name":
                                        type: "string"
                                    "description":
                                        type: "string"
                                    "status":
                                        type: "string"
                                        enum:
                                            - "active"
                                            - "archived"
                                    "createdAt":
                                        type: "string"
                                    "updatedAt":
                                        type: "string"
                                    "custom_data":
                                        type: "object"
                                        description: "Any valid JSON value"
                                required:
                                    - "id"
                                    - "name"
                                    - "description"
                                    - "status"
                                    - "createdAt"
                                    - "updatedAt"
                                    - "custom_data"
                "404":
                    description: "Product not found"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/prices/{price_id}":
        get:
            tags:
                - "prices"
            operationId: "getPrice"
            parameters:
                - name: "price_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Returns a Price by its Id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "product_id":
                                        type: "string"
                                    "description":
                                        type: "string"
                                        nullable: true
                                    "type":
                                        type: "string"
                                        enum:
                                            - "standard"
                                            - "custom"
                                    "name":
                                        type: "string"
                                    "billing_cycle":
                                        type: "object"
                                        properties:
                                            "interval":
                                                type: "string"
                                                enum:
                                                    - "day"
                                                    - "week"
                                                    - "month"
                                                    - "year"
                                            "frequency":
                                                type: "number"
                                        required:
                                            - "interval"
                                            - "frequency"
                                    "trial_period":
                                        type: "object"
                                        properties:
                                            "interval":
                                                type: "string"
                                                enum:
                                                    - "day"
                                                    - "week"
                                                    - "month"
                                                    - "year"
                                            "frequency":
                                                type: "number"
                                        required:
                                            - "interval"
                                            - "frequency"
                                    "unit_price":
                                        type: "object"
                                        properties:
                                            "amount":
                                                type: "number"
                                            "currency_code":
                                                type: "string"
                                        required:
                                            - "amount"
                                            - "currency_code"
                                    "status":
                                        type: "string"
                                        enum:
                                            - "active"
                                            - "archived"
                                    "custom_data":
                                        type: "object"
                                        description: "Any valid JSON value"
                                    "id":
                                        type: "string"
                                    "created_at":
                                        type: "string"
                                    "updated_at":
                                        type: "string"
                                required:
                                    - "product_id"
                                    - "type"
                                    - "name"
                                    - "billing_cycle"
                                    - "trial_period"
                                    - "unit_price"
                                    - "status"
                                    - "id"
                                    - "created_at"
                                    - "updated_at"
                "404":
                    description: "Price not found"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/discounts/{discount_id}":
        get:
            tags:
                - "discounts"
            operationId: "getDiscount"
            parameters:
                - name: "discount_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Returns a Discount by ID"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "id":
                                        type: "string"
                                    "status":
                                        type: "string"
                                        enum:
                                            - "active"
                                            - "archived"
                                        nullable: true
                                    "description":
                                        type: "string"
                                        nullable: true
                                    "enabled_for_checkout":
                                        type: "boolean"
                                        nullable: true
                                    "amount":
                                        type: "number"
                                    "currency_code":
                                        type: "string"
                                    "type":
                                        type: "string"
                                        enum:
                                            - "flat"
                                            - "percentage"
                                            - "flat_per_seat"
                                    "recur":
                                        type: "boolean"
                                        nullable: true
                                    "max_recurring_intervals":
                                        type: "number"
                                        nullable: true
                                    "usage_limit":
                                        type: "integer"
                                        nullable: true
                                    "expires_at":
                                        type: "string"
                                        nullable: true
                                    "custom_data":
                                        type: "object"
                                        description: "Any valid JSON value"
                                    "times_used":
                                        type: "integer"
                                        nullable: true
                                    "created_at":
                                        type: "string"
                                    "updated_at":
                                        type: "string"
                                    "restricted_to":
                                        type: "array"
                                        items:
                                            type: "string"
                                required:
                                    - "id"
                                    - "amount"
                                    - "currency_code"
                                    - "type"
                                    - "custom_data"
                                    - "created_at"
                                    - "updated_at"
                                    - "restricted_to"
                "404":
                    description: "Discount not found"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/customers/{customer_id}":
        get:
            tags:
                - "customers"
            operationId: "getCustomer"
            parameters:
                - name: "customer_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Get a Customer"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "id":
                                        type: "string"
                                    "email":
                                        type: "string"
                                    "name":
                                        type: "string"
                                    "status":
                                        type: "string"
                                        enum:
                                            - "active"
                                            - "archived"
                                        nullable: true
                                    "description":
                                        type: "string"
                                        nullable: true
                                    "custom_data":
                                        type: "object"
                                        description: "Any valid JSON value"
                                    "created_at":
                                        type: "string"
                                    "updated_at":
                                        type: "string"
                                required:
                                    - "id"
                                    - "email"
                                    - "name"
                                    - "custom_data"
                                    - "created_at"
                                    - "updated_at"
                "404":
                    description: "Customer not found"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/addresses/{address_id}":
        get:
            tags:
                - "addresses"
            operationId: "get"
            parameters:
                - name: "address_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Get an Address"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "id":
                                        type: "string"
                                    "description":
                                        type: "string"
                                        nullable: true
                                    "first_line":
                                        type: "string"
                                        nullable: true
                                    "custom_data":
                                        type: "object"
                                        description: "Any valid JSON value"
                                    "city":
                                        type: "string"
                                        nullable: true
                                    "status":
                                        type: "string"
                                        enum:
                                            - "active"
                                            - "archived"
                                        nullable: true
                                    "created_at":
                                        type: "string"
                                    "updated_at":
                                        type: "string"
                                    "customer_id":
                                        type: "string"
                                        nullable: true
                                required:
                                    - "id"
                                    - "custom_data"
                                    - "created_at"
                                    - "updated_at"
                "404":
                    description: "Address not found"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/subscription/{subscription_id}/cancel":
        post:
            tags:
                - "subscription"
            operationId: "cancelSubscription"
            parameters:
                - name: "subscription_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            requestBody:
                content:
                    "application/json":
                        schema:
                            type: "object"
                            properties:
                                "effective_from":
                                    type: "string"
                                    enum:
                                        - "immediately"
                                        - "next_billing_period"
                                    default: "next_billing_period"
            responses:
                "200":
                    description: "Cancels an active subscription given its id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "data":
                                        type: "object"
                                        properties:
                                            "id":
                                                type: "string"
                                            "status":
                                                type: "string"
                                            "customer_id":
                                                type: "string"
                                            "address_id":
                                                type: "string"
                                            "currency_code":
                                                type: "string"
                                            "created_at":
                                                type: "string"
                                            "updated_at":
                                                type: "string"
                                            "started_at":
                                                type: "string"
                                                nullable: true
                                            "first_billed_at":
                                                type: "string"
                                                nullable: true
                                            "next_billed_at":
                                                type: "string"
                                                nullable: true
                                            "paused_at":
                                                type: "string"
                                                nullable: true
                                            "canceled_at":
                                                type: "string"
                                                nullable: true
                                            "collection_mode":
                                                type: "string"
                                            "billing_details":
                                                type: "object"
                                                properties:
                                                    "payment_terms":
                                                        type: "object"
                                                        properties:
                                                            "interval":
                                                                type: "string"
                                                                enum:
                                                                    - "day"
                                                                    - "week"
                                                                    - "month"
                                                                    - "year"
                                                                nullable: true
                                                            "frequency":
                                                                type: "number"
                                                                nullable: true
                                                    "enable_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "additional_information":
                                                        type: "string"
                                                        nullable: true
                                                    "purchase_order_number":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "payment_terms"
                                            "current_billing_period":
                                                type: "object"
                                                properties:
                                                    "starts_at":
                                                        type: "string"
                                                        nullable: true
                                                    "ends_at":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "starts_at"
                                                    - "ends_at"
                                            "billing_cycle":
                                                type: "object"
                                                properties:
                                                    "frequency":
                                                        exclusiveMinimum: true
                                                        type: "integer"
                                                        minimum: 0
                                                    "interval":
                                                        type: "string"
                                                required:
                                                    - "frequency"
                                                    - "interval"
                                            "scheduled_change":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "action":
                                                            type: "string"
                                                            enum:
                                                                - "pause"
                                                                - "resume"
                                                                - "cancel"
                                                        "effective_at":
                                                            type: "string"
                                                        "resumes_at":
                                                            type: "string"
                                                            nullable: true
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "completed"
                                                                - "scheduled"
                                                    required:
                                                        - "id"
                                                        - "subscription_id"
                                                        - "action"
                                                        - "effective_at"
                                                        - "status"
                                                    nullable: true
                                            "items":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "active"
                                                                - "inactive"
                                                                - "trialing"
                                                        "price_id":
                                                            type: "string"
                                                        "quantity":
                                                            exclusiveMinimum: true
                                                            type: "integer"
                                                            minimum: 0
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "recurring":
                                                            type: "boolean"
                                                        "created_at":
                                                            type: "string"
                                                        "updated_at":
                                                            type: "string"
                                                        "previously_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "next_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_started_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_ended_at":
                                                            type: "string"
                                                            nullable: true
                                                        "custom_data":
                                                            nullable: true
                                                        "price":
                                                            type: "object"
                                                            properties:
                                                                "product_id":
                                                                    type: "string"
                                                                "description":
                                                                    type: "string"
                                                                    nullable: true
                                                                "type":
                                                                    type: "string"
                                                                    enum:
                                                                        - "standard"
                                                                        - "custom"
                                                                "name":
                                                                    type: "string"
                                                                "billing_cycle":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "trial_period":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "unit_price":
                                                                    type: "object"
                                                                    properties:
                                                                        "amount":
                                                                            type: "number"
                                                                        "currency_code":
                                                                            type: "string"
                                                                    required:
                                                                        - "amount"
                                                                        - "currency_code"
                                                                "status":
                                                                    type: "string"
                                                                    enum:
                                                                        - "active"
                                                                        - "archived"
                                                                "custom_data":
                                                                    type: "object"
                                                                    description: "Any valid JSON value"
                                                                "id":
                                                                    type: "string"
                                                                "created_at":
                                                                    type: "string"
                                                                "updated_at":
                                                                    type: "string"
                                                            required:
                                                                - "product_id"
                                                                - "type"
                                                                - "name"
                                                                - "billing_cycle"
                                                                - "trial_period"
                                                                - "unit_price"
                                                                - "status"
                                                                - "id"
                                                                - "created_at"
                                                                - "updated_at"
                                                    required:
                                                        - "status"
                                                        - "price_id"
                                                        - "quantity"
                                                        - "id"
                                                        - "subscription_id"
                                                        - "recurring"
                                                        - "created_at"
                                                        - "updated_at"
                                                        - "previously_billed_at"
                                                        - "next_billed_at"
                                                        - "trial_started_at"
                                                        - "trial_ended_at"
                                                        - "price"
                                            "custom_data":
                                                type: "object"
                                                description: "Any valid JSON value"
                                            "management_urls":
                                                type: "object"
                                                properties:
                                                    "update_payment_method":
                                                        type: "string"
                                                        nullable: true
                                                    "cancel":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "update_payment_method"
                                                    - "cancel"
                                            "discount":
                                                type: "object"
                                                properties:
                                                    "id":
                                                        type: "string"
                                                    "status":
                                                        type: "string"
                                                        enum:
                                                            - "active"
                                                            - "archived"
                                                        nullable: true
                                                    "description":
                                                        type: "string"
                                                        nullable: true
                                                    "enabled_for_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "amount":
                                                        type: "number"
                                                    "currency_code":
                                                        type: "string"
                                                    "type":
                                                        type: "string"
                                                        enum:
                                                            - "flat"
                                                            - "percentage"
                                                            - "flat_per_seat"
                                                    "recur":
                                                        type: "boolean"
                                                        nullable: true
                                                    "max_recurring_intervals":
                                                        type: "number"
                                                        nullable: true
                                                    "usage_limit":
                                                        type: "integer"
                                                        nullable: true
                                                    "expires_at":
                                                        type: "string"
                                                        nullable: true
                                                    "custom_data":
                                                        type: "object"
                                                        description: "Any valid JSON value"
                                                    "times_used":
                                                        type: "integer"
                                                        nullable: true
                                                    "created_at":
                                                        type: "string"
                                                    "updated_at":
                                                        type: "string"
                                                    "restricted_to":
                                                        type: "array"
                                                        items:
                                                            type: "string"
                                                required:
                                                    - "id"
                                                    - "amount"
                                                    - "currency_code"
                                                    - "type"
                                                    - "custom_data"
                                                    - "created_at"
                                                    - "updated_at"
                                                    - "restricted_to"
                                                nullable: true
                                        required:
                                            - "id"
                                            - "status"
                                            - "customer_id"
                                            - "address_id"
                                            - "currency_code"
                                            - "created_at"
                                            - "updated_at"
                                            - "started_at"
                                            - "first_billed_at"
                                            - "next_billed_at"
                                            - "paused_at"
                                            - "canceled_at"
                                            - "collection_mode"
                                            - "billing_details"
                                            - "current_billing_period"
                                            - "billing_cycle"
                                            - "scheduled_change"
                                            - "items"
                                            - "management_urls"
                                required:
                                    - "data"
                "400":
                    description: "Bad Request"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
                "404":
                    description: "No Subscription found with that Id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/subscription/{subscription_id}/pause":
        post:
            tags:
                - "subscription"
            operationId: "pauseSubscription"
            parameters:
                - name: "subscription_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            requestBody:
                content:
                    "application/json":
                        schema:
                            type: "object"
                            properties:
                                "effective_from":
                                    type: "string"
                                    enum:
                                        - "immediately"
                                        - "next_billing_period"
                                    default: "next_billing_period"
                                "resume_at":
                                    type: "string"
                                    format: "date-time"
                                    nullable: true
                                "on_resume":
                                    type: "string"
                                    enum:
                                        - "continue_existing_billing_period"
                                        - "start_new_billing_period"
                            required:
                                - "on_resume"
            responses:
                "200":
                    description: "Pause a subscription given its id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "data":
                                        type: "object"
                                        properties:
                                            "id":
                                                type: "string"
                                            "status":
                                                type: "string"
                                            "customer_id":
                                                type: "string"
                                            "address_id":
                                                type: "string"
                                            "currency_code":
                                                type: "string"
                                            "created_at":
                                                type: "string"
                                            "updated_at":
                                                type: "string"
                                            "started_at":
                                                type: "string"
                                                nullable: true
                                            "first_billed_at":
                                                type: "string"
                                                nullable: true
                                            "next_billed_at":
                                                type: "string"
                                                nullable: true
                                            "paused_at":
                                                type: "string"
                                                nullable: true
                                            "canceled_at":
                                                type: "string"
                                                nullable: true
                                            "collection_mode":
                                                type: "string"
                                            "billing_details":
                                                type: "object"
                                                properties:
                                                    "payment_terms":
                                                        type: "object"
                                                        properties:
                                                            "interval":
                                                                type: "string"
                                                                enum:
                                                                    - "day"
                                                                    - "week"
                                                                    - "month"
                                                                    - "year"
                                                                nullable: true
                                                            "frequency":
                                                                type: "number"
                                                                nullable: true
                                                    "enable_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "additional_information":
                                                        type: "string"
                                                        nullable: true
                                                    "purchase_order_number":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "payment_terms"
                                            "current_billing_period":
                                                type: "object"
                                                properties:
                                                    "starts_at":
                                                        type: "string"
                                                        nullable: true
                                                    "ends_at":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "starts_at"
                                                    - "ends_at"
                                            "billing_cycle":
                                                type: "object"
                                                properties:
                                                    "frequency":
                                                        exclusiveMinimum: true
                                                        type: "integer"
                                                        minimum: 0
                                                    "interval":
                                                        type: "string"
                                                required:
                                                    - "frequency"
                                                    - "interval"
                                            "scheduled_change":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "action":
                                                            type: "string"
                                                            enum:
                                                                - "pause"
                                                                - "resume"
                                                                - "cancel"
                                                        "effective_at":
                                                            type: "string"
                                                        "resumes_at":
                                                            type: "string"
                                                            nullable: true
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "completed"
                                                                - "scheduled"
                                                    required:
                                                        - "id"
                                                        - "subscription_id"
                                                        - "action"
                                                        - "effective_at"
                                                        - "status"
                                                    nullable: true
                                            "items":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "active"
                                                                - "inactive"
                                                                - "trialing"
                                                        "price_id":
                                                            type: "string"
                                                        "quantity":
                                                            exclusiveMinimum: true
                                                            type: "integer"
                                                            minimum: 0
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "recurring":
                                                            type: "boolean"
                                                        "created_at":
                                                            type: "string"
                                                        "updated_at":
                                                            type: "string"
                                                        "previously_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "next_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_started_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_ended_at":
                                                            type: "string"
                                                            nullable: true
                                                        "custom_data":
                                                            nullable: true
                                                        "price":
                                                            type: "object"
                                                            properties:
                                                                "product_id":
                                                                    type: "string"
                                                                "description":
                                                                    type: "string"
                                                                    nullable: true
                                                                "type":
                                                                    type: "string"
                                                                    enum:
                                                                        - "standard"
                                                                        - "custom"
                                                                "name":
                                                                    type: "string"
                                                                "billing_cycle":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "trial_period":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "unit_price":
                                                                    type: "object"
                                                                    properties:
                                                                        "amount":
                                                                            type: "number"
                                                                        "currency_code":
                                                                            type: "string"
                                                                    required:
                                                                        - "amount"
                                                                        - "currency_code"
                                                                "status":
                                                                    type: "string"
                                                                    enum:
                                                                        - "active"
                                                                        - "archived"
                                                                "custom_data":
                                                                    type: "object"
                                                                    description: "Any valid JSON value"
                                                                "id":
                                                                    type: "string"
                                                                "created_at":
                                                                    type: "string"
                                                                "updated_at":
                                                                    type: "string"
                                                            required:
                                                                - "product_id"
                                                                - "type"
                                                                - "name"
                                                                - "billing_cycle"
                                                                - "trial_period"
                                                                - "unit_price"
                                                                - "status"
                                                                - "id"
                                                                - "created_at"
                                                                - "updated_at"
                                                    required:
                                                        - "status"
                                                        - "price_id"
                                                        - "quantity"
                                                        - "id"
                                                        - "subscription_id"
                                                        - "recurring"
                                                        - "created_at"
                                                        - "updated_at"
                                                        - "previously_billed_at"
                                                        - "next_billed_at"
                                                        - "trial_started_at"
                                                        - "trial_ended_at"
                                                        - "price"
                                            "custom_data":
                                                type: "object"
                                                description: "Any valid JSON value"
                                            "management_urls":
                                                type: "object"
                                                properties:
                                                    "update_payment_method":
                                                        type: "string"
                                                        nullable: true
                                                    "cancel":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "update_payment_method"
                                                    - "cancel"
                                            "discount":
                                                type: "object"
                                                properties:
                                                    "id":
                                                        type: "string"
                                                    "status":
                                                        type: "string"
                                                        enum:
                                                            - "active"
                                                            - "archived"
                                                        nullable: true
                                                    "description":
                                                        type: "string"
                                                        nullable: true
                                                    "enabled_for_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "amount":
                                                        type: "number"
                                                    "currency_code":
                                                        type: "string"
                                                    "type":
                                                        type: "string"
                                                        enum:
                                                            - "flat"
                                                            - "percentage"
                                                            - "flat_per_seat"
                                                    "recur":
                                                        type: "boolean"
                                                        nullable: true
                                                    "max_recurring_intervals":
                                                        type: "number"
                                                        nullable: true
                                                    "usage_limit":
                                                        type: "integer"
                                                        nullable: true
                                                    "expires_at":
                                                        type: "string"
                                                        nullable: true
                                                    "custom_data":
                                                        type: "object"
                                                        description: "Any valid JSON value"
                                                    "times_used":
                                                        type: "integer"
                                                        nullable: true
                                                    "created_at":
                                                        type: "string"
                                                    "updated_at":
                                                        type: "string"
                                                    "restricted_to":
                                                        type: "array"
                                                        items:
                                                            type: "string"
                                                required:
                                                    - "id"
                                                    - "amount"
                                                    - "currency_code"
                                                    - "type"
                                                    - "custom_data"
                                                    - "created_at"
                                                    - "updated_at"
                                                    - "restricted_to"
                                                nullable: true
                                        required:
                                            - "id"
                                            - "status"
                                            - "customer_id"
                                            - "address_id"
                                            - "currency_code"
                                            - "created_at"
                                            - "updated_at"
                                            - "started_at"
                                            - "first_billed_at"
                                            - "next_billed_at"
                                            - "paused_at"
                                            - "canceled_at"
                                            - "collection_mode"
                                            - "billing_details"
                                            - "current_billing_period"
                                            - "billing_cycle"
                                            - "scheduled_change"
                                            - "items"
                                            - "management_urls"
                                required:
                                    - "data"
                "400":
                    description: "Bad Request"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
                "404":
                    description: "No Subscription found with that Id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
                "409":
                    description: "Failed to update subscription due to bad conflict"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "message":
                                        type: "string"
                                    "error":
                                        type: "string"
                                required:
                                    - "message"
                                    - "error"
    "/subscription/{subscription_id}/resume":
        post:
            tags:
                - "subscription"
            operationId: "resumeSubscription"
            parameters:
                - name: "subscription_id"
                  in: "path"
                  required: true
                  schema:
                    type: "string"
            responses:
                "200":
                    description: "Resumes a subscription given its id"
                    content:
                        "application/json":
                            schema:
                                type: "object"
                                properties:
                                    "data":
                                        type: "object"
                                        properties:
                                            "id":
                                                type: "string"
                                            "status":
                                                type: "string"
                                            "customer_id":
                                                type: "string"
                                            "address_id":
                                                type: "string"
                                            "currency_code":
                                                type: "string"
                                            "created_at":
                                                type: "string"
                                            "updated_at":
                                                type: "string"
                                            "started_at":
                                                type: "string"
                                                nullable: true
                                            "first_billed_at":
                                                type: "string"
                                                nullable: true
                                            "next_billed_at":
                                                type: "string"
                                                nullable: true
                                            "paused_at":
                                                type: "string"
                                                nullable: true
                                            "canceled_at":
                                                type: "string"
                                                nullable: true
                                            "collection_mode":
                                                type: "string"
                                            "billing_details":
                                                type: "object"
                                                properties:
                                                    "payment_terms":
                                                        type: "object"
                                                        properties:
                                                            "interval":
                                                                type: "string"
                                                                enum:
                                                                    - "day"
                                                                    - "week"
                                                                    - "month"
                                                                    - "year"
                                                                nullable: true
                                                            "frequency":
                                                                type: "number"
                                                                nullable: true
                                                    "enable_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "additional_information":
                                                        type: "string"
                                                        nullable: true
                                                    "purchase_order_number":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "payment_terms"
                                            "current_billing_period":
                                                type: "object"
                                                properties:
                                                    "starts_at":
                                                        type: "string"
                                                        nullable: true
                                                    "ends_at":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "starts_at"
                                                    - "ends_at"
                                            "billing_cycle":
                                                type: "object"
                                                properties:
                                                    "frequency":
                                                        exclusiveMinimum: true
                                                        type: "integer"
                                                        minimum: 0
                                                    "interval":
                                                        type: "string"
                                                required:
                                                    - "frequency"
                                                    - "interval"
                                            "scheduled_change":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "action":
                                                            type: "string"
                                                            enum:
                                                                - "pause"
                                                                - "resume"
                                                                - "cancel"
                                                        "effective_at":
                                                            type: "string"
                                                        "resumes_at":
                                                            type: "string"
                                                            nullable: true
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "completed"
                                                                - "scheduled"
                                                    required:
                                                        - "id"
                                                        - "subscription_id"
                                                        - "action"
                                                        - "effective_at"
                                                        - "status"
                                                    nullable: true
                                            "items":
                                                type: "array"
                                                items:
                                                    type: "object"
                                                    properties:
                                                        "status":
                                                            type: "string"
                                                            enum:
                                                                - "active"
                                                                - "inactive"
                                                                - "trialing"
                                                        "price_id":
                                                            type: "string"
                                                        "quantity":
                                                            exclusiveMinimum: true
                                                            type: "integer"
                                                            minimum: 0
                                                        "id":
                                                            type: "string"
                                                        "subscription_id":
                                                            type: "string"
                                                        "recurring":
                                                            type: "boolean"
                                                        "created_at":
                                                            type: "string"
                                                        "updated_at":
                                                            type: "string"
                                                        "previously_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "next_billed_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_started_at":
                                                            type: "string"
                                                            nullable: true
                                                        "trial_ended_at":
                                                            type: "string"
                                                            nullable: true
                                                        "custom_data":
                                                            nullable: true
                                                        "price":
                                                            type: "object"
                                                            properties:
                                                                "product_id":
                                                                    type: "string"
                                                                "description":
                                                                    type: "string"
                                                                    nullable: true
                                                                "type":
                                                                    type: "string"
                                                                    enum:
                                                                        - "standard"
                                                                        - "custom"
                                                                "name":
                                                                    type: "string"
                                                                "billing_cycle":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "trial_period":
                                                                    type: "object"
                                                                    properties:
                                                                        "interval":
                                                                            type: "string"
                                                                            enum:
                                                                                - "day"
                                                                                - "week"
                                                                                - "month"
                                                                                - "year"
                                                                        "frequency":
                                                                            type: "number"
                                                                    required:
                                                                        - "interval"
                                                                        - "frequency"
                                                                "unit_price":
                                                                    type: "object"
                                                                    properties:
                                                                        "amount":
                                                                            type: "number"
                                                                        "currency_code":
                                                                            type: "string"
                                                                    required:
                                                                        - "amount"
                                                                        - "currency_code"
                                                                "status":
                                                                    type: "string"
                                                                    enum:
                                                                        - "active"
                                                                        - "archived"
                                                                "custom_data":
                                                                    type: "object"
                                                                    description: "Any valid JSON value"
                                                                "id":
                                                                    type: "string"
                                                                "created_at":
                                                                    type: "string"
                                                                "updated_at":
                                                                    type: "string"
                                                            required:
                                                                - "product_id"
                                                                - "type"
                                                                - "name"
                                                                - "billing_cycle"
                                                                - "trial_period"
                                                                - "unit_price"
                                                                - "status"
                                                                - "id"
                                                                - "created_at"
                                                                - "updated_at"
                                                    required:
                                                        - "status"
                                                        - "price_id"
                                                        - "quantity"
                                                        - "id"
                                                        - "subscription_id"
                                                        - "recurring"
                                                        - "created_at"
                                                        - "updated_at"
                                                        - "previously_billed_at"
                                                        - "next_billed_at"
                                                        - "trial_started_at"
                                                        - "trial_ended_at"
                                                        - "price"
                                            "custom_data":
                                                type: "object"
                                                description: "Any valid JSON value"
                                            "management_urls":
                                                type: "object"
                                                properties:
                                                    "update_payment_method":
                                                        type: "string"
                                                        nullable: true
                                                    "cancel":
                                                        type: "string"
                                                        nullable: true
                                                required:
                                                    - "update_payment_method"
                                                    - "cancel"
                                            "discount":
                                                type: "object"
                                                properties:
                                                    "id":
                                                        type: "string"
                                                    "status":
                                                        type: "string"
                                                        enum:
                                                            - "active"
                                                            - "archived"
                                                        nullable: true
                                                    "description":
                                                        type: "string"
                                                        nullable: true
                                                    "enabled_for_checkout":
                                                        type: "boolean"
                                                        nullable: true
                                                    "amount":
                                                        type: "number"
                                                    "currency_code":
                                                        type: "string"
                                                    "type":
                                                        type: "string"
                                                        enum:
                                                            - "flat"
                                                            - "percentage"
                                                            - "flat_per_seat"
                                                    "recur":
                                                        type: "boolean"
                                                        nullable: true
                                                    "max_recurring_intervals":
                                                        type: "number"
                                                        nullable: true
                                                    "usage_limit":
                                                        type: "integer"
                                                        nullable: true
                                                    "expires_at":
                                                        type: "string"
                                                        nullable: true
                                                    "custom_data":
                                                        type: "object"
                                                        description: "Any valid JSON value"
                                                    "times_used":
                                                        type: "integer"
                                                        nullable: true
                                                    "created_at":
                                                        type: "string"
                                                    "updated_at":
                                                        type: "string"
                                                    "restricted_to":
                                                        type: "array"
                                                        items:
                                                            type: "string"
                                                required:
                                                    - "id"
                                                    - "amount"
                                                    - "currency_code"
                                                    - "type"
                                                    - "custom_data"
                                                    - "created_at"
                                                    - "updated_at"
                                                    - "restricted_to"
                                                nullable: true
                                        required:
                                            - "id"
                                            - "status"
                                            - "customer_id"
                                            - "address_id"
                                            - "currency_code"
                                            - "created_at"
                                            - "updated_at"
                                            - "started_at"
                                            - "first_billed_at"
                                            - "next_billed_at"
                                            - "paused_at"
                                            - "canceled_at"
                                            - "collection_mode"
                                            - "billing_details"
                                            - "current_billing_period"
                                            - "billing_cycle"
                                            - "scheduled_change"
                                            - "items"
                                            - "management_urls"
                                required:
                                    - "data"
                "400":
                    description: "Bad Request"
                    content:
[...]
